/*----------nav bar-----------*/
body{
    background-color: white;
    overflow-x: hidden;
}
nav {
    background-color: white;
    margin: 0;
    padding: 0;
    box-shadow:  5px 5px 22px skyblue, 
             -5px -5px 22px skyblue;
    overflow-x: hidden;
}

.item1 {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

.item2 {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

.item3 {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

.dropdown {
    background-color: aliceblue;

}

.brand-name {
    color: white;
    font-family: sans-serif;
    font-size: 15px;
    text-align: center;
}

.logoimg {
    height: 40px;
    width: 40px;
    border-radius: 2px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 20px;
    
}

.contactbtn {
    margin-left: 20px;
    height: 40px;
    width: 100px;
    font: none;
    padding: 0;
    border-width: 0;
    border-style: none;
    border-color: none;
    border-image: none;
    border-radius: 5px;
    background-color: white;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
     box-shadow:  5px 5px 22px white, 
             -5px -5px 22px white;
}

.contactbtn:hover {
    background-color: white;
    color: white;
}
.col1{
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    box-shadow:  5px 5px 22px skyblue, 
             -5px -5px 22px skyblue;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 20px;
}
.loginimg{
    height: 150px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
    margin-top: 15px;
    box-shadow:  5px 5px 22px skyblue, 
             -5px -5px 22px skyblue;
    margin-bottom: 15px;
}
.loginline{
    text-align: center;
    color: blue;
    font-family: serif;
    text-transform: capitalize;
    font-size-adjust: auto;
}
form{
    margin-left: auto;
    margin-right: auto;
}
label{
    color: blue;
    font-family: serif;
    text-transform: capitalize;
    font-size: 20px;
    font-size-adjust: auto;
}
input{
    border-radius: 10px;
    border: none;
    background-color: white;
    box-shadow:  5px 5px 22px lightgrey, 
             -5px -5px 22px lightgrey;
    color:black;
    height: 40px;
    width: 280px;
    margin-bottom: 10px;
}
input:hover{
    border-radius: 10px;
    border: none;
    background-color: white;
    box-shadow:  5px 5px 22px lightblue, 
             -5px -5px 22px lightblue;
    color:black;
    height: 40px;
    width: 290px;
    margin-bottom: 10px;
}
.lbtn{
    background-color: blue;
    box-shadow:  5px 5px 22px skyblue, 
             -5px -5px 22px skyblue;
    color: white;
    margin-top: 30px;
    margin-bottom: 20px;
}
.lbtn:hover{
    background-color: darkred;
    color: white;
    margin-top: 30px;
    margin-bottom: 20px;
}
/*----  ----footer----- --------*/
.f1 {
    background-color: white;
    box-shadow:  5px 5px 22px skyblue, 
             -5px -5px 22px skyblue;
    overflow-x: hidden;
}

.infomationtag {
    text-align: center;
    color: blue;
    font-size: 20px;
    font-style: italic;
    text-transform: capitalize;
}

.ourservicesheader {
    text-align: left;
    color: blue;
    font-size: 18px;
    font-style: italic;
    text-transform: capitalize;
    margin-top: 10px;
}

.ourservicesparagraph {
    font-size: 20px;
    color: blue;
    margin-top: 10px;
    font-family: serif;
    text-align: center;
    align-items: center;
    margin-top: 20px;
    text-decoration: none;
}
.rahul{
    color:blue;
}
    
.rahul:hover{
    color:darkblue;
    font-family: cursive;
}

.copyrightline {
    text-align: center;
    font-size: 15px;
    font-style: normal;
    color: blue;
    margin-top: 20px;
    margin-bottom: 0px;
    font-family: serif;
}